[submodule ".vim/pack/xalander/syntax/start/haskell-vim"]
	path = .vim/pack/xalander/syntax/start/haskell-vim
	url = https://github.com/neovimhaskell/haskell-vim.git
[submodule ".vim/pack/xalander/plugins/start/ctrlp.vim"]
	path = .vim/pack/xalander/plugins/start/ctrlp.vim
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".vim/pack/xalander/plugins/start/nerdtree"]
	path = .vim/pack/xalander/plugins/start/nerdtree
	url = https://github.com/preservim/nerdtree
[submodule ".vim/pack/xalander/plugins/start/supertab"]
	path = .vim/pack/xalander/plugins/start/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/pack/xalander/plugins/start/tabular"]
	path = .vim/pack/xalander/plugins/start/tabular
	url = https://github.com/godlygeek/tabular.git
