[submodule ".vim/pack/plugins/start/ale"]
	path = .vim/pack/plugins/start/ale
	url = https://github.com/dense-analysis/ale.git
[submodule ".vim/pack/plugins/start/vim-airline"]
	path = .vim/pack/plugins/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/plugins/start/goyo.vim"]
	path = .vim/pack/plugins/start/goyo.vim
	url = https://github.com/junegunn/goyo.vim
